{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Lokmanya</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cs-select.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cs-skin-boxes.css' %}" />
		<script src="{% static 'modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container">

			<div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Customer Contact Form </h1>
                    {% comment %} <img src="{% static 'logo.png' %}" /> {% endcomment %}
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off" action="success" method="post">
                {% csrf_token %}
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">What's your name?</label>
							<input class="fs-anim-lower" id="q1" name="cname" type="text" placeholder="Sagar Patil" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your email address?</label>
							<input class="fs-anim-lower" id="q2" name="email" type="email" placeholder="sagar@gmail.com" required/>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your phone address?</label>
							<input class="fs-anim-lower" id="q2" name="number" type="tel" placeholder="9876543210" required/>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your branch name?</label>
							<input class="fs-anim-lower" id="q2" name="bname" type="text" placeholder="Porvorim" required/>
						</li>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your birth date?	 address?</label>
							<input class="fs-anim-lower"  placeholder="Date of Birth" class="textbox-n" type="text" onfocus="(this.type='date')" id="date" name="birthday" required/>
						</li>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your gender?</label>
							<input class="fs-anim-lower" id="q2" name="gender" type="text" placeholder="male" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your martial status?</label>
							<input class="fs-anim-lower" id="q2" name="status" type="text" placeholder="married" required/>
						</li>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your PAN card number?</label>
							<input class="fs-anim-lower" id="q2" name="pan" type="text" placeholder="AD78897DF" required/>
						</li>
						</li>
												<li>
							<label class="fs-field-label fs-anim-upper" for="q2" data-info="We won't send you spam, we promise...">What's your ADHAR card number?</label>
							<input class="fs-anim-lower" id="q2" name="adhar" type="text" placeholder="123456789012" required/>
						</li>

						
					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Send answers</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->

			<!-- Related demos -->
			<!-- <div class="related">
				<p>If you enjoyed this demo you might also like:</p>
				<a href="http://tympanus.net/Development/MinimalForm/">
					<img src="img/relatedposts/minimalform1-300x162.png" />
					<h3>Minimal Form Interface</h3>
				</a>
				<a href="http://tympanus.net/Development/ButtonComponentMorph/">
					<img src="img/relatedposts/MorphingButtons-300x162.png" />
					<h3>Morphing Buttons Concept</h3>
				</a>
			</div>
 -->
		</div><!-- /container -->
		<script src="{% static 'classie.js' %}"></script>
		<script src="{% static 'selectFx.js' %}"></script>
		<script src="{% static 'fullscreenForm.js' %}"></script>
		<script>
			(function() {
				var formWrap = document.getElementById( 'fs-form-wrap' );

				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx( el, {
						stickyPlaceholder: false,
						onChange: function(val){
							document.querySelector('span.cs-placeholder').style.backgroundColor = val;
						}
					});
				} );

				new FForm( formWrap, {
					onReview : function() {
						classie.add( document.body, 'overview' ); // for demo purposes only
					}
				} );
			})();
		</script>
	</body>
</html>